- @title = 'Welcome to Middleman'

.container-fluid
  .row
    .col-md-4
    .col-md-4.text-md-center
      %br
      = image_tag 'middleman-logo.svg'
      %br
      %br
      %h2= @title
    .col-md-4